<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <link rel="stylesheet" href="{% static 'ludotheque/style.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>Liste des joueurs</h1>
  <a href="{% url 'accueil' %}">Accueil</a>
  <br>
  <br>
  <a href="{% url 'ajouter_joueur' %}"> Ajouter un joueur </a>
  <hr>
  {% for joueur in joueurs %}
      <h2>{{ joueur.username }}</h2>
      <p>Prénom : {{ joueur.first_name }}</p>
      <p>Nom : {{ joueur.last_name }}</p>
      <p>Email : {{ joueur.email }}</p>
      <p>Type : {{ joueur.get_type_joueur_display }}</p>
      <br>
      <a href="{% url 'modifier_joueur' joueur.id %}"> Modifier </a>
      |
      <a href="{% url 'supprimer_joueur' joueur.id %}"> Supprimer </a>
      |
      <a href="{% url 'fiche_joueur' joueur.id %}"> Voir la fiche </a>
      <hr>
  {% empty %}
      <p>Aucun joueur enregistré.</p>
  {% endfor %}
</body>
</html>