<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'ludotheque/style.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>Supprimer un joueur</h1>
  <p>Veux-tu vraiment supprimer le joueur : <strong>{{ joueur.username }}</strong> ? </p>
  <form method="post">
      {% csrf_token %}
      <button type="submit"> Oui, supprimer </button>
  </form>
  <br>
  <a href="{% url 'liste_joueurs' %}"> Annuler </a>
</body>
</html>